*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #222;
}

body {
  background: #000;
  height: 100vh;
  width: 100vw;
  overflow: clip;
  font-family: "Merriweather", serif;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
}

.header {
  position: relative;
  background: #000;
  color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.header svg {
  filter: blur(130px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
  background-image: url(/noise.png);
  background-repeat: repeat;
  opacity: 0.1;
  mix-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: calc(100vh - 180px);
  background: transparent;
  padding: 5rem 1rem 2rem;
  color: #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.content > span {
  position: absolute !important;
  top: 0px;
  transform: translateY(-60%);
  left: 1.25rem;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.content .sub,
.content a {
  font-size: 0.8rem;
  color: #abaaa6;
  margin-bottom: 1.25rem;
}

.content p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.content h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.content hr {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid #abaaa622;
  outline: none;
  box-shadow: none;
}

.content ul {
  list-style: none;
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .feedback {
  margin-top: auto;
  color: #abaaa688;
}

@media screen and (max-width: 640px) {
  .content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .content ul {
    flex-direction: column;
  }

  .content li {
    margin-bottom: 0.7rem;
  }

  .content .feedback {
    margin-bottom: 3rem;
  }
}
