:root {
  --text-color: #000;
  --background-color: #fff;
  --link-color: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d7d7d7;
    --background-color: #000;
    --link-color: #d1d1d1;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #3e88f6;
  color: #fff;
}

body {
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  overflow-x: clip;
  font-family: "Merriweather", serif;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
}

.header {
  position: relative;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  overflow-x: clip;
}

/* https://toolbox.signalsupply.co/ */
.header .gradient {
  width: 440px;
  height: 440px;
  filter: blur(100px);
  transform: skewX(-45deg) skewY(-25deg);
  opacity: 0.8;
  background: linear-gradient(
      197.37deg,
      #7450db -0.38%,
      rgba(138, 234, 240, 0) 101.89%
    ),
    linear-gradient(
      115.93deg,
      #3e88f6 4.86%,
      rgba(62, 180, 246, 0.33) 38.05%,
      rgba(62, 235, 246, 0) 74.14%
    ),
    radial-gradient(
      56.47% 76.87% at 6.92% 7.55%,
      rgba(62, 136, 246, 0.7) 0%,
      rgba(62, 158, 246, 0.182) 52.16%,
      rgba(62, 246, 246, 0) 100%
    ),
    linear-gradient(306.53deg, #2ee4e3 19.83%, rgba(46, 228, 227, 0) 97.33%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
  background-image: url(/images/noise.png);
  background-repeat: repeat;
  opacity: 0.1;
  mix-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: calc(100vh - 180px);
  background: transparent;
  padding: 5rem 1rem 2rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.content > span {
  position: absolute !important;
  top: 0px;
  transform: translateY(-60%);
  left: 1.25rem;
  border-radius: 1000px;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.content .sub,
.content a {
  font-size: 0.8rem;
  color: var(--link-color);
  margin-bottom: 1.25rem;
}

.content p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.content h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.content hr {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid #abaaa622;
  outline: none;
  box-shadow: none;
}

.content ul {
  list-style: none;
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .feedback {
  margin-top: auto;
}

@media screen and (max-width: 640px) {
  .content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .content ul {
    flex-direction: column;
  }

  .content li {
    margin-bottom: 1rem;
  }

  .content .feedback {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .header {
    height: 150px;
  }
}
