:root {
  --text-color: #000;
  --background-color: #f5f5f5;
  --link-color: #0a0a0a;
}

.light {
  display: initial !important;
}

.dark {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d7d7d7;
    --background-color: #090909;
    --link-color: #d1d1d1;
  }

  .light {
    display: none !important;
  }

  .dark {
    display: initial !important;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #3e88f6;
  color: #fff;
}

body {
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  overflow-x: clip;
  font-family: "Merriweather", serif;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
}

/* .header {
  position: relative;
  background: var(--background-color);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 180px;
} */

/* https://toolbox.signalsupply.co/ */
/* .header .gradient {
  width: 100vw;
  height: 440px;

  background: linear-gradient(
      197.37deg,
      #7450db -0.38%,
      rgba(138, 234, 240, 0) 101.89%
    ),
    linear-gradient(
      115.93deg,
      #3e88f6 4.86%,
      rgba(62, 180, 246, 0.33) 38.05%,
      rgba(62, 235, 246, 0) 74.14%
    ),
    radial-gradient(
      56.47% 76.87% at 6.92% 7.55%,
      rgba(62, 136, 246, 0.7) 0%,
      rgba(62, 158, 246, 0.182) 52.16%,
      rgba(62, 246, 246, 0) 100%
    ),
    linear-gradient(306.53deg, #2ee4e3 19.83%, rgba(46, 228, 227, 0) 97.33%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
} */

/* @media (prefers-color-scheme: dark) {
  .header .gradient {
    opacity: 0.75;
    filter: grayscale(0.1);
  }
} */

/* .header::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100vh;
  background-image: url(/images/noise.png);
  background-repeat: repeat;
  opacity: 0.1;
  mix-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.content {
  height: calc(100vh);
  background: transparent;
  padding: 5rem 1rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

.content .image {
  position: relative;
  min-width: 120px;
  width: 120px;
  min-height: 120px;
  height: 120px;
  display: block;
  margin-bottom: 3rem;
}

.content .image > span {
  width: 120px;
  height: 120px;
  border-radius: 1000px;
  position: absolute !important;
  left: 0;
  top: 0;
  bottom: 0;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.content .sub,
.content a {
  font-size: 0.8rem;
  color: var(--link-color);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.content .sub {
  margin-bottom: 1.25rem;
}

.content :not(.sub) a {
  display: inline-block;
  width: 100%;
}

.content p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.content h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.content hr {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid #abaaa622;
  outline: none;
  box-shadow: none;
}

.content ul {
  list-style: none;
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  --delay: 0.1s;
}

.content .feedback {
  margin-top: auto;
}

/* .content ul li:nth-child(1) {
  animation: slide-right 0.5s calc(var(--delay) * 0) ease-in-out;
}
.content ul li:nth-child(2) {
  animation: slide-right 0.5s calc(var(--delay) * 1) ease-in-out;
}
.content ul li:nth-child(3) {
  animation: slide-right 0.5s calc(var(--delay) * 2) ease-in-out;
}
.content ul li:nth-child(4) {
  animation: slide-right 0.5s calc(var(--delay) * 3) ease-in-out;
}
.content ul li:nth-child(5) {
  animation: slide-right 0.5s calc(var(--delay) * 4) ease-in-out;
}
.content ul li:nth-child(6) {
  animation: slide-right 0.5s calc(var(--delay) * 05) ease-in-out;
} */

/* @keyframes slide-right {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
} */

@media screen and (max-width: 640px) {
  .content {
    padding-bottom: 1rem;
  }
  .content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .content ul {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .content li {
    margin-bottom: 0.25rem;
  }

  .content .feedback {
    padding-bottom: 3rem;
    width: 100%;
  }
}

/* @media screen and (max-width: 375px) {
  .header {
    height: 150px;
  }
} */
